.questions-container.container-main-child{
    width: 1002px !important;
}

.left-icons i{
    font-size: 1.2rem;
    color: grey;
}

.left-icons i:hover{
    font-size: 1.2rem;
    color: grey;
    background-color: rgba(211, 211, 211, 0.253);
    border-radius: 50%;
    cursor: pointer;
}

.question-main{
    background-color: white !important;
    width: 10% !important;
}

.container-main-questions{
    background-color: rgba(211, 211, 211, 0.315) !important;
    min-height: 100vh;
}

.my-btns button{
    background-color: transparent;
    color: gray;
}

.my-btns button:focus{
    font-weight: 500;
    background-color: #e8472321;
    color: rgb(232, 71, 35);
}

.question-container{
    //width: 1002px;
}

.user-img-question-main{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}