.profilemain-container{
    width: 100%;
}

.profilemain-info{
    border-bottom: 2px solid lightgrey;
}

.user-img-i{
    font-size: 6rem;
    color: rgb(161, 201, 214);
}

.user-img{
    width:6rem;
    height: 6rem;
    border-radius: 50%;
}

.user-img-btn{
    position: absolute;
    left: 38%;
    top: 38%;
    font-size: 1.5rem;
    color: #007bff;
}

.user-img-btn:hover{
    color: #2e69ff;
    cursor: pointer;
}

.user-img-btn-container{
    border-radius: 50%;
    position: relative;
}

.activity-nav-container{
    border-bottom: 2px solid transparent;
}

.activity-nav-container:hover{
    text-decoration: none;
}

.activity-nav-container:focus{
    border-bottom: 2px solid #e84723;
}

.activity-nav{
    width: 100%;
}

.activity-nav:hover{
    background-color: rgba(211, 211, 211, 0.308);
    text-decoration: none;
    border-radius: 3px;
    color: rgb(68, 68, 68);
}