.following-btn:hover{
    transition: 0;
    background-color: rgba(128, 128, 128, 0.267);
    color: rgb(105, 105, 105) !important;
}

.following-btn{
    background-color: rgba(128, 128, 128, 0.13);
    color: gray;
}