.nav-container{
    width: 100%;
    height: 50px;
    background-color: white;
    box-shadow: 0.1em 0.1em 0.4em rgba(109, 109, 109, 0.24);
}

.nav-container-child{
    max-width: 1002px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.navbar-user-img{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
}

#logo{
    width: 7rem;
}

.main-icons-container{
    height: 100%;
}

.nav-icon-link{
    height: 100%;
    align-items: center;
}

.main-logo{
    color: #ce4223;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0px;
}

.main-logo:hover{
    text-decoration: none !important;
}

.nav-icon-link-active{
    height: 100%;
    align-items: center;
    border-bottom: 2px solid #ce4223;
}

.nav-icon{
    font-size: 1.5rem;
    color: grey;
    text-align: center;
    border-radius: 3px;
}

.nav-icon.active{
    color: #ce4223;
}

.nav-icon:hover{
    font-size: 1.5rem;
    background-color: rgb(231, 231, 231);
}


.nav-icon-2{
    font-size: 1.6rem;
    color: rgb(161, 201, 214);
}

.nav-search{
    width: 100%;
}

.nav-search .p-1 .nav-search-form-control{
    box-shadow: none !important;
}
.nav-search .p-1 .nav-search-form-control:focus{
    transition: 0.2s !important;
    background-color: #007bff11;
}

.ask-btn{
    width: 7rem;
    background-color: #ce4223 !important;
    color: white !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.ask-btn:hover{
    background-color: #ce4223 !important;
    transition: none !important;
}

.profile-dropdown, .profile-dropdown:focus , .profile-dropdown::after{
    background-color: transparent !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    content: none;
}

.dropdown-container{
    width: 18rem;
    box-shadow: 0px 0.3px 8px rgba(0, 0, 0, 0.096);
}



.nav-dropdown:active{
    background-color:transparent !important;
}
