.sidebar-list i{
    font-size: 1.2rem !important;
}

.sidebar-list-link{
    font-size: 14px;
    vertical-align: auto;
}

.post-box{
    height: 8rem;
}

.post-box i{
 font-size: 3rem;
 color: #007bffbe;
}

.post-box i:hover{
 font-size: 3rem;
 color: #0070e7;
 cursor: pointer;
}